.about__container {
    display: flex;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 107px;
}

.about__image {
    flex: none;
    width: 489px;
    height: 505px;
    background-image: url('../../img/kviz_pliz.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.about__info {
    z-index: 1;
    flex: none;
    width: 785px;
    margin-left: -133px;
    padding: 70px 81px;
    transform: translateY(80px);
    text-align: left;
    border-radius: 5px;
    background-image: linear-gradient(71.43deg, #8f00ff 0%, #148cff 100%);
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 49px;
    margin-bottom: 37px;
    color: #fff;
}

.about__text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.69;
    width: 100%;
    max-width: 500px;
    margin-bottom: 36px;
    color: #fff;
}

.about__button {
    padding: 17px 33px;
    border: 1px solid #fff;
    background-color: transparent;
}
