.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 35px;
}

.footer__menu{
    margin-left: 54px;
}

.footer__social{
    margin-left: 48px;
}

.social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social__item {
    display: block;
    margin-right: 10px;
}

.social__item img {
    display: block;
    max-width: 100%;
}

.social__item:last-child {
    margin-right: 0;
}

.info{
    text-align: right;
}

.info__text {
    font-size: 11px;
    font-weight: normal;
    line-height: 1.82;
    display: block;
    color: #9a9a9a;
}

.info__phone {
    display: block;
}
